.project {
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-details {
  padding: 20px;
}

.project-description {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}

.technologies {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.technology-icon {
  font-size: 1.5em;
}

.technology-icon > svg {
  vertical-align: middle;
}

.technology-icon.fa-html5 {
  color: #e34f26; /* Naranja */
}

.technology-icon.fa-css3-alt {
  color: #1572b6; /* Azul */
}

.technology-icon.fa-js {
  color: #f7df1e; /* Amarillo */
}

.technology-icon.fa-react {
  color: #61dafb; /* Azul claro */
}

.project-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #c0093c;
  text-decoration: none;
}

.external-link-icon {
  margin-left: 5px;
  font-size: 0.8em;
}
