.project {
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 20px auto; /* Añadir margen vertical */
  text-align: left;
  background-color: #ffffff; /* Blanco para un contraste limpio */
  border-radius: 15px; /* Bordes más redondeados */
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; /* Transición para el efecto hover */
}

.project:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 4px solid #c0093c; /* Borde inferior para resaltar la imagen */
}

.project-details {
  padding: 20px;
}

.project-description {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}

.technologies {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.technology-icon {
  font-size: 1.5em;
}

.technology-icon.fa-html5 { color: #e34f26; }
.technology-icon.fa-css3-alt { color: #1572b6; }
.technology-icon.fa-js { color: #f7df1e; }
.technology-icon.fa-react { color: #61dafb; }

.project-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #c0093c;
  text-decoration: none;
  transition: color 0.3s; /* Transición para el hover */
}

.project-link:hover {
  color: #24fcdf; /* Cambia el color al hacer hover */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra de texto para un efecto adicional */
}

.external-link-icon {
  margin-left: 5px;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .project {
    max-width: 90%; /* Se ajusta el ancho en dispositivos más pequeños */
  }
}
