.social-links {
    margin-top: 20px;
    color: #24fcdf;
  }
  
  .social-link {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: #24fcdf;
    border: 2px solid #24fcdf;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.1em;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .social-link:hover {
    background-color:#24fcdf;
    color: #261893;
  }
  