.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  font-size: 18px; /* Ajusta el tamaño según sea necesario */
  text-decoration: none;
  color: #fff; /* Color de texto más visible */
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
