.contactame {
 
  padding: 20px;
}

.contact-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Cambiado a flex-start para mejor alineación */
  flex-wrap: wrap;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-button {
  display: inline-block;
  background-color: #444; 
  color: #24fcdf;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-align: left;
  text-decoration: none; 
}

.contact-button.whatsapp {
  background-color: #25D366; 
}

.contact-button.gmail {
  background-color: #DB4437; 
}

.contact-button.download-cv {
  background-color: #555555; 
}

.contact-form {
  background-color: #24fcdf; 
  padding: 20px;
  border-radius: 10px;
  flex: 1; /* Permitir que el formulario ocupe espacio disponible */
  max-width: 400px; /* Ancho máximo del formulario */
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%; /* Asegura que los campos ocupen el 100% del ancho disponible */
}

.contact-form button {
  background-color: #c0093c; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #1e3a1e; 
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .contact-content {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: center; /* Centrar elementos */
  }

  .contact-form {
    max-width: 100%; /* Permitir que el formulario ocupe el 100% en pantallas pequeñas */
  }

  .contact-button {
    width: 100%; /* Botones ocupan el 100% del ancho en pantallas pequeñas */
    text-align: center; /* Centrar texto en botones */
  }
}
